<div class="card responsive" style="width: 30%">
    <div class="card-body">
        <h5 class="card-title display-6" style="margin-bottom: 30px;">Experience</h5>
        {% for experience in experiences %}
        <div class="card inner-card" style="margin-bottom: 5px;">
            <div class="card-body">
                <div class="card-header" style="border: 0px; margin-bottom: 5px;">{{experience.location|safe}}</div>
                <p><i><small>{{experience.address}}</small></i></p>
                <h5 class="card-title">{{experience.title}}</h5>
                <p><small>{{experience.period}}{% if experience.supervisor %}. Under {{experience.supervisor}} {% endif %}</small></p>
                <p class="card-text">
                    {{experience.desc}}
                </p>
                {% for component in experience.components %}
                    <span class="badge badge-light component">{{component}}</span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>