<style>
    #rainCanvas {
        position: absolute;
        margin: 0; 
        padding: 0;
        top: 0;
        left: 0;
        background: rgb(43, 44, 52);
        z-index: -1;
    }
    button {
        position: absolute;
        margin: 10; 
        top: 0;
        left: 0;
        z-index: 2;
    }   
</style>

<button type="button" id="rainButton"  style="color: lightblue; border: 0px; background-color: rgba(43, 44, 52, .8);" class="btn" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="toggleRain()">
</button>
<canvas id="rainCanvas"></canvas>
<script>

    let RAINING = true;
    let droplets = [];

    function toggleRain(forceOn=false) {
        btn = document.getElementById("rainButton");
        if (!forceOn && btn.classList.contains("active")) {
            btn.classList.remove("active");
            btn.ariaPressed = 'false';
            RAINING = false;
            btn.value = "Start Rain";
            btn.innerText = "Start Rain";
        } else {
            btn.classList.add("active");
            btn.ariaPressed = 'true';
            btn.value = "Stop Rain";
            btn.innerText = "Stop Rain";
            RAINING = true;
            window.requestAnimationFrame(draw);
        }
        init();
    }

    const INTERVAL = 5;
    const SPEED = 1.25;
    const LENGTH = 50;
    const ANGLE = Math.PI*.60;
    const DROP_LIKELIHOOD = .3;
    const RAIN_WIDTH = 3;
    const RAIN_COLOR = 'lightblue';

    const d = new Date();
    let lastDrawTime = d.getTime();

    const canv = document.getElementById('rainCanvas');
    let ctx = canv.getContext("2d");

    class Droplet {
        constructor(canv) {
            if (Math.random() > .5) {
                // Start above screen
                this.x = Math.random()*canv.width;
                this.y = -LENGTH;
            } else {
                // Start to right of screen
                this.y = Math.random()*canv.height;
                this.x = canv.width + LENGTH;
            }

            this.angle = ANGLE;
            const d = new Date();
            this.lastDrawTime = d.getTime();
            this.prevLine = [this.x, this.y, this.x, this.y];
        }

        draw(timeDiff) {

            ctx.strokeStyle = "rgb(43, 44, 52)";
            ctx.lineWidth = RAIN_WIDTH + 3;

            ctx.beginPath();
            ctx.moveTo(this.prevLine[0], this.prevLine[1]);
            ctx.lineTo(this.prevLine[2], this.prevLine[3]);
            ctx.stroke();

            ctx.lineWidth = RAIN_WIDTH;
            ctx.strokeStyle = RAIN_COLOR;

            if (this.x < 0) {
                return false;
            }

            let [x2, y2] = this.next_point(LENGTH);
            ctx.beginPath();
            ctx.moveTo(this.x, this.y);
            ctx.lineTo(x2, y2);
            ctx.stroke();

            // Line erase covering extends 3 pixels behind and ahead
            let [x0, y0] = this.next_point(-3);
            let [x3, y3] = this.next_point(LENGTH + 3)
            this.prevLine = [x0, y0, x3, y3];

            [this.x, this.y] = this.next_point(timeDiff * SPEED);

            return true;
        }

        next_point(distance) {
            let x2 = this.x + (distance * Math.cos(this.angle));
            let y2 = this.y + (distance * Math.sin(this.angle));
            return [x2, y2];
        }
    }


    function init() {
        canv.width = window.innerWidth;
        canv.height = document.documentElement.scrollHeight;

        ctx = canv.getContext("2d");

        ctx.lineWidth = RAIN_WIDTH;
        ctx.strokeStyle = RAIN_COLOR;
    }

    function draw() {
        if (RAINING || droplets.length > 0) {
            const d = new Date();
            let newDrawTime = d.getTime();
            let timeDiff = newDrawTime - lastDrawTime;
    
            if (timeDiff > INTERVAL) {
                lastDrawTime = newDrawTime;
    
                if (Math.random() < DROP_LIKELIHOOD && RAINING) {
                    droplets.push(new Droplet(canv));
                }
    
                let toDelete = [];
                for (let drop of droplets) {
                    if (!drop.draw(timeDiff)) {
                        toDelete.push(drop);
                    }
                }
                droplets = droplets.filter(drop => !toDelete.includes(drop));
                for (let oldDrop of toDelete) {
                    delete oldDrop;
                }
                window.requestAnimationFrame(draw);
            } else {
                setTimeout(draw, INTERVAL);
            }
        }
    }

    toggleRain(true);
    window.onload = init;
    window.addEventListener('resize', function(event) {
        init();
    }, true);
    window.requestAnimationFrame(draw);
</script>