{% load static %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title display-6">Skills</h5>
        {% for skill in skills %}
            <span class="badge badge-light component">{{skill}}</span>
        {% endfor %}
    </div>
</div>

<script>
    let components = {};
    let selected = [];

    function highlight(component_name) {
        for (let component of components[component_name]) {
            component.style["background-color"] = "whitesmoke";
            component.style["color"] = "slategray";
            component.style["text-shadow"] = "0px 0px 1px slategray";
        }
    }
    function unhighlight(component_name) {
        for (let component of components[component_name]) {
            component.style["background-color"] = "";
            component.style["color"] = "";
            component.style["text-shadow"] = "";
        }
    }

    function select(event) {
        let component = event.srcElement;
        let component_name = component.innerText;
        if (selected.includes(component_name)) {
            selected.splice(selected.indexOf(component_name), 1);
            unhighlight(component.innerText);
        } else {
            selected.push(component_name)
            highlight(component.innerText);
        }
    }

    function init() {
        let all_components = document.getElementsByClassName("component");
        for (let component of all_components) {
            component.addEventListener("mouseover", function () {
                highlight(component.innerText);
            });
            component.addEventListener("click", select);
            component.addEventListener("mouseout", function () {
                setTimeout(function () {
                    if (!selected.includes(component.innerText)) {
                        unhighlight(component.innerText);
                    }
                }, .1);
               
            });

            // Add to components mapping
            let name = component.innerText;
            if (!(name in components)) {
                components[name] = [];
            }
            components[name].push(component);
        }
    }

    window.onload.functions.push(init);

</script>