.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.responsive {
    width: 45%;
}

@media only screen and (max-width: 1000px) {
    .responsive {
        min-width: 100%;
    }
}

.card {
    height: fit-content;
    background: rgba(112, 128, 144,.80);
}

.inner-card {
    border: 0px;
    background: none;
}


* {
    color: whitesmoke;
}