.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.responsive {
    width: 45%;
}

@media only screen and (max-width: 1000px) {
    .responsive {
        min-width: 100%;
    }
}

.card {
    height: fit-content;
    border: 0px;
    background: rgba(43, 44, 52, .80);
}

.card-header {
    color: gainsboro;
    background-color: #27282f;
}

.inner-card {
    border: 1px solid #404148;
    background: none;
}

.card-header {
    padding: 2px;
}

h5 {
    font-family: Georgia, Times, 'Times New Roman', serif;
}

p {
    color: gainsboro;
}

* {
    color: whitesmoke;
}

.badge {
    font-weight: 300;
    background: #404148;
}

.social-badge {
    font-weight: 300;
    background: #404148;
    text-decoration: none;
    padding: 7px;
}

a:hover {
    color: white;
    font-weight: 600;
}

body {
    background: rgb(43, 44, 52);
    overflow-x: hidden;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: rgb(43, 44, 52);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}